@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-route-team="" asp-action="Index" class="btn btn-outline-secondary nav-link mb-2">Home</a>


    @foreach (string t in Model)
    {
        <a asp-controller="Home" asp-action="Index"
           class="btn nav-link mb-2 @(ViewBag.SelectedTeam == t ? "btn-primary" : "btn-outline-secondary")" asp-route-team="@t">@t</a>
    }
</div>
